{% extends '::base.html.twig' %}

{% block headline %}Viewing Insurance Information{% if userName is not null %} for {{ userName }}{% endif %}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Group Policy:</th>
            <td>{{ entity.groupPolicy }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('insurance_edit', { 'userID': userID, 'userName': userName, 'id': entity.id }) }}">Edit</a>
    </li>
    <li>
        <a href="{{ path('user_show', { 'id': userID }) }}">View Patient Page</a>
    </li>
    <li>
        <form action="{{ path('insurance_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}