{% extends '::base.html.twig' %}

{% block headline %}Address{% if userName is not null %} for {{ userName }}{% endif %}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Address:</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Address (line 2):</th>
            <td>{{ entity.address2 }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Zipcode:</th>
            <td>{{ entity.zipcode }}</td>
        </tr>
        <tr>
            <th>Phone Number:</th>
            <td>{{ entity.phoneNumber|phone() }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('address_edit', { 'userID': userID, 'userName': userName, 'id': entity.id }) }}">Edit</a>
    </li>
    <li>
        <a href="{{ path('user_show', { 'id': userID }) }}">View Patient Page</a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('user_splash') }}">View Splash Page</a>
        </li>
    {% endif %}
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}