{% extends '::base.html.twig' %}

{% block headline %}View Address{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Address2</th>
            <td>{{ entity.address2 }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Zipcode</th>
            <td>{{ entity.zipcode }}</td>
        </tr>
        <tr>
            <th>Phonenumber</th>
            <td>{{ entity.phoneNumber }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('address') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('address_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}