{% extends '::base.html.twig' %}

{% block headline %}Prescription{% if userName is not null %} for {{ userName }}{% endif %}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Date Expires:</th>
            <td>{{ entity.dateExpires|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date Prescribed:</th>
            <td>{{ entity.datePrescribed|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Frequency:</th>
            <td>{{ entity.frequency }}</td>
        </tr>
        <tr>
            <th>Dosage:</th>
            <td>{{ entity.dosage }}</td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Reason:</th>
            <td>{{ entity.reason }}</td>
        </tr>
    </tbody>
</table>

<form action="{{ path('prescription_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button type="submit">Delete</button>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.headers.get('referer') }}">Back</a>
    </li>
    <li>
        <a href="{{ path('prescription_edit', { 'userID': userID, 'userName': userName, 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('user_show', { 'id': userID }) }}">View Patient Page</a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('user_splash') }}">View Splash Page</a>
        </li>
    {% endif %}
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}