{% extends '::base.html.twig' %}

{% block headline %}Allergies {% if userName is not null %} for {{ userName }}{% endif %}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        {% for allergy in allergies %}
            <tr>
                <th>Type:</th>
                <td>{{ allergy.type }}</td>
                <td><a href="{{ path('allergy_edit', { 'userID': userID, 'userName': userName, 'id': allergy.id }) }}"><button type="submit">Edit</button></a></td>
                <td>
                    <form action="{{ path('allergy_delete', { 'id': allergy.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(delete_forms[loop.index0].createView()) }}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.headers.get('referer') }}">Back</a>
    </li>
    <li>
        <a href="{{ path('user_show', { 'id': userID }) }}">View Patient Page</a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('user_splash') }}">View Splash Page</a>
        </li>
    {% endif %}
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}