{% extends '::base.html.twig' %}

{% block headline %}Allergy #{{ entity.id }}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
    </tbody>
</table>

<form action="{{ path('allergy_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <button type="submit">Delete</button>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('allergy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('user_splash') }}">View Splash Page</a>
        </li>
    {% endif %}
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}