{% extends '::base.html.twig' %}

{% block headline %}User #{{ entity.id }}{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Email:</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Primary Doctor:</th>
            <td>{{ entity.primaryDoctor }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    
        {% if 'search' not in app.request.headers.get('referer') %}
    <li>
        <a href="{{ app.request.headers.get('referer') }}">Back</a>
    </li>
        {% endif %}
    
</ul>
{% endblock content_content %}

{% block content_sidebar %}
<h2>Actions</h2>
<ul>
    {% if is_granted('ROLE_NURSE') or is_granted('ROLE_DOCTOR') %}
        <li>
            <a href="{{ path('appointment_new', { 'patientID': entity.getId(), 'patientName': entity.getName() }) }}">New Appointment</a>
        </li>
        {% if entity.hasRoleByName('ROLE_PATIENT') and appointment is not null %}
            <li>
                <a href="{{ path('appointment_edit', { 'id': appointment.getId(), 'patientID': entity.getId(), 'patientName': entity.getName() }) }}">Edit Last Appointment</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
{% endblock content_sidebar %}