{% extends '::base.html.twig' %}

{% block headline %}Splash Page{% endblock headline %}

{# !!! BODY CONTENT !!! #}
{% block content_content %}
{{ parent() }}
{% if is_granted('ROLE_SITE-ADMIN') %}
{% elseif is_granted('ROLE_DOCTOR') %}
{% elseif is_granted('ROLE_PATIENT') %}
    <h3>Patient Information</h3>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>First Name:</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Primary Doctor:</th>
                <td>{% if user.primaryDoctor is not null %}{{ user.primaryDoctor }}{% else %}None Specified{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if user.getAddress() is not null %}
        <h3>Address Information</h3>
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Address:</th>
                    <td>{{ user.getAddress().address }}</td>
                </tr>
                <tr>
                    <th>Address (line 2):</th>
                    <td>{{ user.getAddress().address2 }}</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>{{ user.getAddress().city }}</td>
                </tr>
                <tr>
                    <th>Zipcode:</th>
                    <td>{{ user.getAddress().zipcode }}</td>
                </tr>
                <tr>
                    <th>Phone Number:</th>
                    <td>{{ user.getAddress().phoneNumber|phone() }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if user.getInsuranceInfo() is not null %}
        <h3>Insurance Information</h3>
        <table class="record_proerties">
            <tbody>
                <tr>
                    <th></th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if not user.getAllergies().empty() %}
        <h3>Allergy Information</h3>
        <table class="record_proerties">
            <tbody>
                {% for allergy in user.getAllergies().empty() %}
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if not user.getPrescriptions().empty() %}
        <h3>Prescription Information</h3>
        <table class="record_proerties">
            <tbody>
                {% for prescription in user.getPrescriptions() %}
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% elseif is_granted('ROLE_NURSE') %}
{% elseif is_granted('ROLE_EMT') %}
{% elseif is_granted('ROLE_ADMIN') %}
{% endif %}
{% endblock content_content %}

{# !!! SIDE BAR CONTENT !!! #}
{% block content_sidebar %}
<h2>Actions</h2>
<ul>
{% if is_granted('ROLE_SITE-ADMIN') %}
{% elseif is_granted('ROLE_DOCTOR') %}
{% elseif is_granted('ROLE_PATIENT') %}
    <li>
        {% if user.getAddress() is null %}
            <a href="{{ path('address_new', { 'userName': user.getName(), 'userID': user.getId() }) }}">Add Address</a>
        {% else %}
            <a href="{{ path('address_edit', { 'id': user.getAddress().getId(), 'userID': user.getId(), 'userName': user.getName() }) }}">Edit Address</a>
        {% endif %}
    </li>
    <li>
        {# Insurance is OneToOne so Add or Edit check #}
        {% if user.getInsuranceInfo() is null %}
            <a href="{{ path('insurance_new', { 'userName': user.getName(), 'userID': user.getId() }) }}">Add Insurance</a>
        {% else %}
            <a href="{{ path('insurance_edit', { 'userName': user.getName(), 'userID': user.getId() }) }}">Edit Insurance</a>
        {% endif %}
    </li>
    <li>
        {% if user.getPrimaryDoctor() is null %}
            <a href="{{ path('add_primary_doctor', { 'userName': user.getName(), 'userID': user.getId() }) }}">Add Primary Doctor</a>
        {% else %}
            <a href="{{ path('edit_primary_doctor', { 'userName': user.getName(), 'userID': user.getId() }) }}">Edit Primary Doctor</a>
        {% endif %}
    </li>
    <li>
        <a href="{{ path('allergy_new', { 'userName': user.getName(), 'userID': user.getId() }) }}">Add Allergy</a>
    </li>
    {# check to see if user has any Allergies to edit #}
    {% if not user.getAllergies().empty() %}
        <li>
            <a href="{{ path('allergy_show', { 'userName': user.getName(), 'userID': user.getId() }) }}">Show Allergies</a>
        <li>
            <a href="{{ path('allergy_edit', { 'userName': user.getName(), 'userID': user.getId() }) }}">Edit Allergies</a>
        </li>
    {% endif %}
    <li>
        Add Prescription
    </li>
    {# check to see if user has any Prescriptions to edit #}
    {% if not user.getPrescriptions().empty() %}
        <li>
            Edit Prescriptions
        </li>
    {% endif %}
    <li>
        Add Blood Pressure Reading
    </li>
    <li>
        Add Blood Glucose Levels
    </li>
    <li>
        Add Weight
    </li>
{% elseif is_granted('ROLE_NURSE') %}
{% elseif is_granted('ROLE_EMT') %}
{% elseif is_granted('ROLE_ADMIN') %}
{% endif %}
</ul>
{% endblock content_sidebar %}