{% extends '::base.html.twig' %}

{% block headline %}View All Appointments{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dateof</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Glucose</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('appointment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.dateOf %}{{ entity.dateOf|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.weight }}</td>
            <td>{{ entity.height }}</td>
            <td>{{ entity.glucose }}</td>
            <td>
            <ul>
                <li>
                    <a href="{{ path('appointment_show', { 'id': entity.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('appointment_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('appointment_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}