{% extends '::base.html.twig' %}

{% block headline %}Create Appointment{% endblock headline %}

{% block content_content %}
{{ parent() }}
<form action="{{ path('appointment_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('appointment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}