{% extends '::base.html.twig' %}

{% block headline %}Appointment Information{% endblock headline %}

{% block content_content %}
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Date\Time:</th>
            <td>{{ entity.dateOf|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Weight:</th>
            <td>{{ entity.weight }}</td>
        </tr>
        <tr>
            <th>Height:</th>
            <td>{{ entity.height }}</td>
        </tr>
        {% if entity.glucose is not null %}
        <tr>
            <th>Glucose:</th>
            <td>{{ entity.glucose }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('appointment_edit', { 'id': entity.id, 'patientID': patientID, 'patientName': patientName }) }}">Edit</a>
    </li>
    <li>
        <a href="{{ app.request.headers.get('referer') }}">Back</a>
    </li>
    {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('user_splash') }}">View Splash Page</a>
        </li>
        <li>
            <a href="{{ path('user_show', { 'id': patientID }) }}">View Patient Page</a>
        </li>
    {% endif %}
</ul>
{% endblock content_content %}

{% block content_sidebar %}{% endblock content_sidebar %}